@model Modelo.Producto.Producto_VM

<div class="panel">
    <form id="ProductoForm">

        <div class="panel-body mb-4">
            <p class="text-start my-3 fw-bold fs-4">Datos Producto</p>
            @Html.HiddenFor(Model => Model.ProductoId)
            <div class="row">

                <div class="col-md-6">
                    <label for="Nombre" class="form-label">Nombre Producto:</label>
                    @Html.EditorFor(Model => Model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                    <div class="invalid-feedback"></div>
                </div>

               

                <div class="col-md-6">
                    <label for="Precio" class="form-label">Precio:</label>
                    @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", type = "number", step = "0.01", min = "0" })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="panel-footer text-right">
            <div class="btn btn-default" id="btnRegresarProducto" title="Descartar los cambios realizados"> Regresar</div>
            <div class="btn btn-success" title="Guardar registro" id="btnGuardarProducto"> Guardar</div>
        </div>

    </form>
</div>



<script type="text/javascript" src="~/JSscripts/Producto/CrearEditar.js"></script>

